@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

html {
  background-color: white !important;
}

body {
  background-color: white !important;
}

/* Aktif olmayan noktaların rengi */
.swiper-pagination-bullet {
  background-color: #ff9090 !important; /* Nokta rengini açık kırmızı yapar */
  opacity: 1 !important; /* Opaklık ayarı */
  width: 12px !important;
  height: 12px !important;
}

/* Aktif noktanın rengi */
.swiper-pagination-bullet-active {
  background-color: #ff0000 !important; /* Aktif nokta kırmızı olur */
  width: 13px !important;
  height: 13px !important;
}
